*{
    margin: 0;
    padding: 0;
    box-sizing: border
    -box;
}

html,body{
    margin: 0;
    padding: 0;
    background-color: #93D9A3

}

#container{
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

li{
    list-style-type: none;
}

#sidebar{
    border: 1px solid transparent;
    height: 100vh;
    margin: 0px 0px auto;
    background-color: #A03C78;
    /* position: fixed;
    top: 5px;
    left: 5px; */
}

#sidebar .Sidebar-menu-list{
    margin: 5px 6px;
    padding: 10px 0;
    /* border: 1px solid black; */
    display: flex;
    /* align-items: flex-start; */
    justify-content: flex-start;
    flex-wrap: nowrap;
    border-radius: 10px ;
    color: white;
   transition: all 2s ease;
    
}
#sidebar .Sidebar-menu-list span{
    margin: 0 4px;
    padding: 10px 10px ;
    border-radius: 5px ;
}


#info{
    padding: 10px 20px;
    height: 100vh;
    /* width: 80%; */
    color: white;
    overflow: scroll;
}

.active{
    background-color: rgb(173, 107, 235);
   opacity: 0.7;
}

.hidden{
    display: none;
}
/* #sidebar .Sidebar-menu-list .icon{
    transition: all 2s ease;
} */

/* #sidebar .Sidebar-menu-list .icon:hover{
    background-color: white;
    color: black;
} */

.active:hover{
    background-color: #b93ac5;
  transform: all 0.5s ease;
}

#sidebar .Sidebar-menu-list:hover{
    background-color: white;
    color: black;
}

#sidebar .Sidebar-menu-list .menu:hover  .icon-info{
    display: none;
}